body{
  background-image: url("web_background.png");
  background-size: cover;
}
a{
  text-decoration: none;
}
h1{
  color: white;
  text-align: center;
}
.goal{
  height: 800px;
  color: white;
  font-size: 40px;
  font: serif;
  display: flex;
	align-items: center;
	justify-content: center;
}
/* スタイル適当です */
.nav {
    display: table;
    padding-left: 0;
    width: 100%;
    background: #FFF;
}
.nav__item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.nav__item + .nav__item {
    border-left: 1px solid #CCC;
}
.nav__item a {
    display: block;
    padding: 15px 0;
    color: #666;
    text-decoration: none;
    font-size: 14px;
}
.nav__item:hover{
  opacity: 0.5;
}
